body {
    font-family: 'Poppins', sans-serif;
    background: #f0f8ff;
    color: #333;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    height: 100vh;
}

.typing-text {
    font-size: 36px;
    font-weight: bold;
    color: #007acc;
    margin-bottom: 40px;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid #007acc;
    display: inline-block;
    position: relative;
    top: 50px;
}

.container {
    width: 90%;
    max-width: 500px;
    background: #ffffff;
    padding: 25px;
    border-radius: 25px;
    box-shadow: 0 10px 20px rgba(0, 122, 204, 0.2);
    position: relative;
    top: 150px;
    transition: all 0.3s ease-in-out;
}

.container:hover {
    box-shadow: 0 15px 25px rgba(0, 122, 204, 0.4);
}

@media (max-width: 768px) {
    .typing-text {
        font-size: 24px;
        margin-bottom: 30px;
        position: absolute;
    }
    .container {
        width: 95%;
        padding: 20px;
    }
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid #007acc;
    margin-top: -80px;
    background: white;
    transition: transform 0.3s ease-in-out;
}

.profile-pic:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px #007acc;
}

h1 {
    color: #007acc;
}

p {
    font-size: 16px;
    color: #272626;
    font-weight: bold;
}

.social-buttons {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 20px;
}

.social-buttons a {
    text-decoration: none;
    background: linear-gradient(to right, #007acc, #005b99);
    color: white;
    padding: 14px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    transition: transform 0.3s, box-shadow 0.3s;
}

.social-buttons a i {
    margin-right: 10px;
}

.social-buttons a:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0, 122, 204, 0.5);
}

footer {
    margin-top: 20px;
}

@media (max-width: 768px) {
    .typing-text {
        font-size: 24px;
        margin-bottom: 30px;
    }
    .container {
        width: 95%;
        padding: 20px;
    }
    .profile-pic {
        width: 130px;
        height: 130px;
        margin-top: -70px;
    }
    .social-buttons a {
        font-size: 16px;
        padding: 12px;
    }
}
